# Basics
*.py[cod]
*.pyc
__pycache__
*.bak

# Logs
*.log
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo
*.pot

# Pycharm
.idea

# Vim

*~
*.swp
*.swo

.env

fabfile.py
uwsgi.ini
/static/

cron-scripts/record_backlog.sh
cron-scripts/site_stats.sh
cron-scripts/send_email.sh
cron-scripts/resend_email.sh
cron-scripts/extras_sync.sh
cron-scripts/extras_pull.sh

cron-scripts/daily_digest.sh
cron-scripts/cleanact.sh
cron-scripts/rebuild_index.sh