django==1.1.4
boto
django-tastypie==0.9.11
hookbox
django-storages
importlib
django-ses
pysolr
django-haystack==1.1
#mysql-python
psycopg2
pillow
Werkzeug
markdown==2.0.3
suds
pytz


docutils
whoosh==2.4