django==1.3.7
django-tastypie==0.9.11
django-storages
django-ses
django-haystack==1.1
django-debug-toolbar==0.9.4

boto
hookbox
importlib
pysolr
psycopg2
pillow
Werkzeug
markdown
suds
pytz


docutils
whoosh==2.4